@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #E9D5F0;
    height: 100vh; /* Sätt höjden till 100% av fönsterhöjden */
    margin: 0; /* Ta bort standardmarginalen för body */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 580px;
    height: 580px;
    border-radius: 20px;
    background: #E9D5F0;
    box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 0.25), -6px -6px 4px 0px rgba(255, 255, 255, 0.20);

}


.form, .list {
    align-items: center;
    width: 80%;
    display: block; 
    margin-bottom: 10px;
}


h1 {
    text-align: center;
    font-size: 1.8rem;
    padding: 5px;
}

p {
    font-size: 14px;
    padding: 2px;
    margin-bottom: 20px;
}

    /* div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 3rem;
}
  */

    .type_box {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        height: 3rem;
        border: 1px solid white;
        border-radius: 1rem;
    }


    .button {
        background-color: #3604ff81;
        width: 100%;
        border-radius: 1rem;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
    }

    .button:hover {
        background-color: #b2a2f581;
        color: black;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0rem;
        padding-top: 54px;
    }


    .link {
        font-size: 1rem;
        color: black;
        text-decoration: none;
        padding-left: 20px;
    }



    .heart {
        color: #fb0501;
        background-color: #E9D5F0;
        border: none;
        padding: 10px;
        font-size: 1.5rem;
    }

    .save {
        color: #000000;
        background-color: #E9D5F0;
        border: none;
        padding: 10px;
        font-size: 1.5rem;
    }


    .delete {
        background-color: #E9D5F0;
        color: black;
        padding: 5px;
        border: none;
        font-size: 1rem;
    }